@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    
    flex: 0 0 50%;
    max-width: 50%;
}}
@media (min-width: 768px)
{
.h-md-250 {
    height: 250px;
}}
@media (min-width: 768px){
.flex-md-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.header{
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
svg:not(:root) {
    overflow: hidden;
}


article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    
}
a:hover{
    text-decoration: underline;
}
.blog-header-logo:hover
{
    text-decoration: none;
}
.text-dark:hover {
    color:black!important;
}
.btn-outline-primary:hover{
    text-decoration: none;
}
.text-muted {
    color: #6c757d!important;
}


.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    
}
.bg-dark {
    background-color: #343a40!important;
}
@media (min-width: 768px){
.display-4 {
    font-size: 3rem;
}}
.font-italic {
    font-style: italic!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.text-dark {
    color: #343a40!important;
}
.text-success {
    color: #28a745!important;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
@media (min-width: 768px)
{
.col-md-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}}
@media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}}



.card-img-right {
    
    border-radius: 0 3px 3px 0;
}
.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px){
.display-4 {
    font-size: 3rem;
}}
.align-items-start {
    -webkit-box-align: start!important;
    align-items: flex-start!important;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    flex-direction: column!important;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr:not([size]) {
    height: 0;
}
.h2, h2 {
    font-size: 2rem;
}
ol, ul {
    padding: 0px 0px 0px 40px;
}
 
.blog-footer p:last-child {
    margin-bottom: 0;
  }
